[Unit]
Description=RoPieee Web Page
After=network.target

[Service]
WorkingDirectory=/opt/RoPieee/web
ExecStart=/usr/bin/node /opt/RoPieee/web/app.js
Restart=always
RestartSec=10
SyslogIdentifier=ropieee-web
Environment=NODE_PORT=80 NODE_SETTINGS=/etc/ropieee.conf

[Install]
WantedBy=multi-user.target

