[Unit]
Description=Ropieee web frontend
After=network.target

[Service]
WorkingDirectory=/opt/ropieee-be/server
ExecStart=/usr/bin/node /opt/ropieee-be/server/app.js
Restart=always
RestartSec=10
SyslogIdentifier=ropieee-be
Environment=NODE_PORT=80 NODE_SETTINGS=/etc/ropieee.conf

[Install]
WantedBy=multi-user.target

