html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Welcome to Ropieee!
      div
        h5 There are a few settings in Ropieee. After submitting your settings the Ropieee will reboot
        h5 and the changes will take effect.
        br
        br
      div
      block content
        h4= title
        form(id='config' name='config' action='/submit', method='post')
           div
             label hostname     
               input(name='hostname', type='text', value='hostname')
           div
              label reboot time   
                input(name='reboot_time', type='text', value='reboot time')
           div
              input(type='submit', value='Commit Changes')
