doctype html
html
  include head.pug

  body
    div.container
      include header.pug

      div.container
        ul(class='nav nav-tabs')
           li(role='presentation')
              a(href='/') General

           if (config_rp_touchscreen_detected== '1')
             li(role='Display')
                a(href='/display') Display

           li(role='network')
              a(href='/network') Network
           li(role='presentation' class='active')
              a(href='/advanced') Advanced
           li(role='presentation')
              a(href='/info') Information


        br
        h5 This section contains advanced settings. Only change them if you know exactly what you're doing!
        br

        form(class='form-horizontal' action='/submit?config=advanced' method='post')
          div(class='form-group')
            label(class='control-label col-sm-2' for='repo') Update Channel
            div(class='col-sm-10')
              select(class='form-control' name='repo' data-toggle='tooltip' title='The channel RoPieee uses for it\'s updates.')
                 option(value='stable' selected=(config_rp_repo=='stable')) Stable
                 option(value='beta',  selected=(config_rp_repo=='beta')) Beta
                 option(value='test',  selected=(config_rp_repo=='test')) Test
          div(class='form-group')
            label(class='control-label col-sm-2' for='auto_update') Update Interval
            div(class='col-sm-10')
              select(class='form-control' name='auto_update' data-toggle='tooltip' title='RoPieee\'s update interval.')
                 option(value='daily' selected=(config_rp_auto_update=='daily')) Daily
                 option(value='weekly' selected=(config_rp_auto_update=='weekly')) Weekly
                 option(value='monthly' selected=(config_rp_auto_update=='monthly')) Monthly
                 option(value='manual' selected=(config_rp_auto_update=='manual')) Manually
          div(class='form-group')
            label(class='control-label col-sm-2') Next Sync
            div(class='col-sm-10')
              input(type='text' class='form-control' value= config_rp_next_update_time readOnly)
          hr
          button(type='submit' class='btn btn-default') Commit Changes
        br
        br
        br
        br
        hr
        div.container
          div(class='btn-toolbar')
            button(type='button' class='btn btn-primary' value='shutdown' target='_blank' onclick="location.href='/shutdown';") Shutdown 
            button(type='button' class='btn btn-primary' value='shutdown' target='_blank' onclick="location.href='/reboot';") Reboot

            if (config_rp_touchscreen_detected== '1')
              button(type='button' class='btn btn-primary' value='restart'  target='_blank' onclick="location.href='/confirm_restart_extension';") Restart Roon Remote Extension

            button(type='button' class='btn btn-primary' value='feedback' target='_blank' onclick="location.href='/feedback';") Send Feedback

