doctype html
html
  head
    title=title
    link(href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  body
    div.container
      div.jumbotron
        h2 Restart Roon Remote Extension...
      div.container
        br
        h5 Are you sure you want to restart the Roon Remote Extension?

        br
        hr
        div.container
          div(class='btn-toolbar')
            button(type='button' class='btn btn-default' value='ok' target='_blank' onclick="location.href='/restart_extension';") Yes
            button(type='button' class='btn btn-default' value='cancel' target='_blank' onclick="location.href='/';") Cancel
