doctype html
html
  include head.pug

  body
    div.container
      div.well(class='well well-sm')
        h4 Welcome to RoPieee on #{config_rp_this_hostname}
      div.container
        h4 Logs have been sent to RoPieee HQ with unique identifier 
          span(class='label label-info') #{unique}
        h4 Please leave a mail or a note on the Roon forum with this identifier. Thanks!
        br
        hr
        div.container
          div(class='btn-toolbar')
            button(type='button' class='btn btn-default' value='home' target='_blank' onclick="location.href='/';") Home
