footer(class='footer')
  div.fcontainer
    p(class='text-muted text-center') © 2017-2018 Harry ten Berge - 
      a(href='http://www.ropieee.org') www.ropieee.org
      span(class='text-muted')  - version 
      span(class='label label-default') #{config_rp_version}

