footer(class='footer')
  div.fcontainer
    span('class=text-muted') © 2017 Harry ten Berge - 
      a(href='http://www.ropieee.org') www.ropieee.org
      span('class=text-muted')  - version #{config_rp_version}

