head
  title RoPieee [#{config_rp_this_hostname}]
  link(href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  link(href='/static/sticky-footer.css', rel='stylesheet')
  link(href='/static/favicon-400x400.png', rel='shortcut icon', type='image/x-icon')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
