doctype 5
html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Welcome to RoPieee!
      div
        h5 There are a few settings in RoPieee. After submitting your settings the RoPieee will reboot
        h5 and the changes will take effect.
        br
        br
      div

      form(id='config', name='config', action='/submit', method='post')
         table.form_table(border='0')
           thead
               tr
                  th(width='100') Setting
                  th(width='300') Value
                  th Meaning
               tr
                  td Hostname
                  td(height='50') 
                     input(name='hostname', type='text', pattern='[A-Za-z0-9]+', title='Only letters and numbers are allowed.', value= config_rp_hostname)
                  td The name that identifies the RoPieee. Very useful if you have more than 1 RoPieee in your network.
               tr
                  td Audio HAT
                  td(height='50')
                     select(name='audio')
                        option(value='ropieee-no-hat',                    selected=(config_rp_audio=='ropieee-no-hat'))                    No HAT configured
                        option(value='allo-boss-dac-pcm512x-audio',       selected=(config_rp_audio=='allo-boss-dac-pcm512x-audio'))       Allo BOSS DAC
                        option(value='allo-digione',                      selected=(config_rp_audio=='allo-digione'))                      Allo DigiOne (*)
                        option(value='allo-piano-dac-pcm512x-audio',      selected=(config_rp_audio=='allo-piano-dac-pcm512x-audio'))      Allo Piano DAC
                        option(value='allo-piano-dac-plus-pcm512x-audio', selected=(config_rp_audio=='allo-piano-dac-plus-pcm512x-audio')) Allo Piano DAC 2.1
                        option(value='hifiberry-amp',                     selected=(config_rp_audio=='hifiberry-amp'))                     HifiBerry AMP/AMP+
                        option(value='hifiberry-dac',                     selected=(config_rp_audio=='hifiberry-dac'))                     HifiBerry DAC
                        option(value='hifiberry-dacplus',                 selected=(config_rp_audio=='hifiberry-dacplus'))                 HifiBerry DAC+
                        option(value='hifiberry-digi',                    selected=(config_rp_audio=='hifiberry-digi'))                    HifiBerry DIGI/DIGI+
                        option(value='hifiberry-digi-pro',                selected=(config_rp_audio=='hifiberry-digi-pro'))                HifiBerry DIGI Pro
                        option(value='iqaudio-dacplus',                   selected=(config_rp_audio=='iqaudio-dacplus'))                   IQaudIO Pi-DAC(+/Pro/Zero)
                        option(value='iqaudio-digi-wm8804-audio',         selected=(config_rp_audio=='iqaudio-digi-wm8804-audio'))         IQaudIO Digi+ 
                        option(value='rpi-dac',                           selected=(config_rp_audio=='rpi-dac'))                           Raspberry Pi DAC (I2S)
                  td Select the audio HAT the RoPieee needs to use. HAT's marked with (*) are theoretically supported, but require feedback ("is working") from the community.
               tr
                  td Audio USB
                  td(height='50')
                     input(name='audio_usb', type='checkbox', checked=(config_rp_audio_usb=='1'))
                  td Select to enable USB audio. This can be used in parallel with an Audio HAT.
               tr
                  td Reboot time
                  td(height='50')
                     input(name='reboottime', type='time', value= config_rp_reboottime)
                  td Every 24 hours the RoPieee is going to reboot and will look for updates. With this setting you can specify how late this will happen.
               tr
                  td Timezone
                  td(height='50')
                     select(name='timezone')
                       each val in config_rp_timezone
                         option(value= val, selected=(config_rp_timezone_set== val)) #{val}
                  td Select the corresponding timezone in which the RoPieee is located.
               if (config_rp_touchscreen_detected== '1') 
                  tr
                     td Touchscreen Orientation
                     td(height='50')
                        select(name='touchscreen_orientation')
                           option(value='default', selected=(config_rp_touchscreen_orientation=='default')) Default
                           option(value='rotated', selected=(config_rp_touchscreen_orientation=='rotated')) Rotated
                     td If the touchscreen is upside-down then rotate it with this option.
                  tr
                     td Touchscreen Control Zone
                     td(height='50')
                        input(name='touchscreen_zone', type='text', pattern='[A-Za-z0-9]+', value= config_rp_touchscreen_zone)
                     td Which Roon Zone should the touchscreen control. Make sure you type it *exactly* as known in Roon.
           tbody#hCart
      
         br
         br
         input(type='submit', value='Commit Changes')

         br
         br
         div.jumbotron
            h4 System Information
            h5 Kernel 
               input(name='kernelinfo', readonly='true', value= config_rp_kernel)
         div
         button(type='button', value='shutdown', target='_blank', onclick="location.href='/shutdown';") Shutdown
         button(type='button', value='shutdown', target='_blank', onclick="location.href='/reboot';") Reboot
