html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Welcome to Ropieee!
      div
        h5 There are a few settings in Ropieee. After submitting your settings the Ropieee will reboot
        h5 and the changes will take effect.
        br
        br
      div
      block content
        h4= title

      form(id='config' name='config' action='/submit', method='post')
         table(id='my-test-table' border='0')
            tr
               th(width='100') Setting
               th(width='100') Value
            tr
               td Hostname
               td 
                  input(name='hostname', type='text', value= config_rp_hostname)
            tr
               td Reboot time
               td 
                  input(name='reboottime', type='time', value= config_rp_reboottime)
      
         br
         input(type='submit', value='Commit Changes')
