doctype 5
html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Welcome to Ropieee!
      div
        h5 There are a few settings in Ropieee. After submitting your settings the Ropieee will reboot
        h5 and the changes will take effect.
        br
        br
      div

      form(id='config', name='config', action='/submit', method='post')
         table.form_table(border='0')
           thead
               tr
                  th(width='100') Setting
                  th(width='200') Value
                  th Meaning
               tr
                  td Hostname
                  td(height='50') 
                     input(name='hostname', type='text', pattern='[A-Za-z0-9]+', title='Only letters and numbers are allowed.', value= config_rp_hostname)
                  td The name that identifies the Ropieee. Very useful if you have more than 1 Ropieee in your network.
               tr
                  td Reboot time
                  td(height='50') 
                     input(name='reboottime', type='time', value= config_rp_reboottime)
                  td Every 24 hours the Ropieee is going to reboot and will look for updates. With this setting you can specify how late this will happen.
           tbody#hCart
      
         input(type='submit', value='Commit Changes')
