doctype html
html
  include head.pug

  body
    div.container
      include header.pug

      div.container
        ul(class='nav nav-tabs')
           li(role='presentation')
              a(href='/') General

           if (config_rp_touchscreen_detected== '1')
             li(role='Display')
                a(href='/display') Display

           li(role='network')
              a(href='/network') Network
           li(role='presentation')
              a(href='/advanced') Advanced
           li(role='presentation' class='active')
              a(href='/info') Information


        br
        h3 You're running RoPieee version 
          span(class='label label-primary') #{config_rp_version} 
        br
        hr
        br
        h5 This table shows the list of RoPieee's software components and their version numbers.
        br

        div(class='container')
          table(class='table')
            thead
              tr
                th Package
                th Version
            tbody
              each val, key in config_rp_software
                tr
                td #{key}
                td #{val}
          
    br
    br 
    include footer.pug
