doctype html
html
  head
    include head.pug
    script.
      function updatefields() {
         console.log('function updatefields()');
         console.log('value = ' + document.getElementById('wired_method').value);
         if (document.getElementById('wired_method').value === 'dhcp') {
            console.log('readonly is true');
            document.getElementById('wired_ip_addr').readOnly = true;
            document.getElementById('wired_netmask').readOnly = true;
            document.getElementById('wired_gateway').readOnly = true;
        
            document.getElementById('wired_ip_addr').value = "#{config_rp_network_config_wired_addr}";
            document.getElementById('wired_netmask').value = "#{config_rp_network_config_wired_netmask}";
            document.getElementById('wired_gateway').value = "#{config_rp_network_config_default_gw}";

         } else {
            console.log('readonly is false');
            document.getElementById('wired_ip_addr').readOnly = false;
            document.getElementById('wired_netmask').readOnly = false;
            document.getElementById('wired_gateway').readOnly = false;
         }
      }

  body(onload='updatefields();')
    div.container
      include header.pug

      div.container
        ul(class='nav nav-tabs')
           li(role='presentation')
              a(href='/') General

           if (config_rp_touchscreen_detected== '1')
             li(role='Display')
                a(href='/display') Display

           li(role='Network' class='active')
              a(href='/network') Network
           li(role='presentation')
              a(href='/advanced') Advanced
           li(role='presentation')
              a(href='/info') Information

        br
        h5 This section contains the settings for RoPieee's network configuration.
        h3 Wired

        form(class='form-horizontal' action='/submit?config=network' method='post')
          div(class='form-group')
            label(class='control-label col-sm-2' for='ip_method') Configuration Method
            div(class='col-sm-10')
              select(class='form-control' name='wired_method' id='wired_method' data-toggle='tooltip' title='Select the method for IP address configuration.' onchange='updatefields();')
                option(value='dhcp', selected=(config_rp_network_wired_method=='dhcp')) DHCP
                option(value='static', selected=(config_rp_network_wired_method=='static')) Static
          div(class='form-group')
            label(class='control-label col-sm-2' for='ip_address') IP Address
            div(class='col-sm-10')
              input(type='text' class='form-control' name='wired_ip_addr' id='wired_ip_addr' required pattern='(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)_*(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)_*){3}' placeholder='192.168.1.115' title='The static IP address you want the RoPiee to have.' value= config_rp_network_wired_ipaddr)
          div(class='form-group')
            label(class='control-label col-sm-2' for='ip_address') IP Netmask
            div(class='col-sm-10')
              input(type='text' class='form-control' name='wired_netmask' id='wired_netmask' required pattern='(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)_*(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)_*){3}' placeholder='255.255.255.0' title='The netmask you want the RoPieee to have.' value= config_rp_network_wired_netmask)
          div(class='form-group')
            label(class='control-label col-sm-2' for='ip_address') Gateway
            div(class='col-sm-10')
              input(type='text' class='form-control' name='wired_gateway' id='wired_gateway' required pattern='(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)_*(\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)_*){3}' placeholder='255.255.255.0' title='The gateway you want the RoPieee to use.' value= config_rp_network_wired_gateway)

          if (config_rp_hardware== 'rpi3')
            hr
            h3 Wireless
            div(class='form-group')
              label(class='control-label col-sm-2' for='enable_wifi') Enable WiFi 
              div(class='col-sm-10')
                input(type='checkbox' name='wireless_enabled' checked=(config_rp_network_wireless_enabled=='1') data-toggle='tooltip' title='Select to enable WiFi.')

            if (config_rp_network_wireless_enabled== '1')
              div(class='form-group')
                label(class='control-label col-sm-2' for='enable_wifi') Available Networks
                div(class='col-sm-10')
                  select(class='form-control' name='wireless_essid' data-toggle='tooltip' title='Select the WiFi network you want to join.')
                    each val in config_rp_network_wireless_networks
                      option(value= val, selected=(config_rp_network_wireless_essid== val)) #{val}
              div(class='form-group')
                label(class='control-label col-sm-2' for='enable_wifi') WPA-PSK (Passphrase)
                div(class='col-sm-10')
                  input(type='password' class='form-control' name='wireless_psk' id='wpa_key' required title='The WPA-PSK (or passphrase) for the wireless network you want to join.' value= config_rp_network_wireless_psk)


          hr
          button(type='submit' class='btn btn-default') Commit Changes

    br
    br 
    include footer.pug 
