doctype html
html
  include head.pug

  body
    div.container
      include header.pug

      div.container
        br
        h5 Here's a summary of your settings. When you're sure you can save these. Depending on the settings RoPieee might require a reboot.
        br

        if (toggle_rp== 'general')
          form(class='form-horizontal' action='/commit?config=general' method='post')
            div(class='form-group')
              label(class='control-label col-sm-2') Hostname
              div(class='col-sm-10')
                input(class='form-control' name='hostname' for='hostname' value= config_rp_hostname readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') Audio HAT
              div(class='col-sm-10')
                input(class='form-control' name='audio_hat' value= config_rp_hat readonly)
                input(class='form-control' name='audio' value= config_rp_audio type='hidden')
            div(class='form-group')
              label(class='control-label col-sm-2') Audio USB
              div(class='col-sm-10')
                input(class='form-control' name='audio_usb' value= config_rp_audio_usb readonly)
            hr
            div(class='form-group')
              label(class='control-label col-sm-2') Reboot time
              div(class='col-sm-10')
                input(class='form-control' name='reboottime' value= config_rp_reboottime readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') Timezone
              div(class='col-sm-10')
                input(class='form-control' name='timezone' value= config_rp_timezone readonly)
            hr
            div.container
              div(class='btn-toolbar')
                button(type='submit' class='btn btn-primary btn-sm') Save Changes
                button(type='button' class='btn btn-default btn-sm' value='cancel' target='_blank', onclick="location.href='/';") Cancel

        if (toggle_rp== 'display')
          form(class='form-horizontal' action='/commit?config=display' method='post')
            div(class='form-group')
              label(class='control-label col-sm-2') Orientation
              div(class='col-sm-10')
                input(class='form-control' name='orientation' value= config_rp_touchscreen_orientation readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') Roon Control Zone
              div(class='col-sm-10')
                input(class='form-control' name='zone' value= config_rp_touchscreen_zone readonly)
            hr
            div.container
              div(class='btn-toolbar')
                button(type='submit' class='btn btn-primary btn-sm') Save Changes
                button(type='button' class='btn btn-default btn-sm' value='cancel' target='_blank', onclick="location.href='/';") Cancel

        if (toggle_rp== 'network' && config_rp_network_wired_method== 'dhcp')
          form(class='form-horizontal' action='/commit?config=network' method='post')
            div(class='form-group')
              label(class='control-label col-sm-2') Configuration Method
              div(class='col-sm-10')
                input(class='form-control' name='wired_method' value= config_rp_network_wired_method readonly)
            hr
            div.container
              div(class='btn-toolbar')
                button(type='submit' class='btn btn-primary btn-sm') Save Changes
                button(type='button' class='btn btn-default btn-sm' value='cancel' target='_blank', onclick="location.href='/';") Cancel

        if (toggle_rp== 'network' && config_rp_network_wired_method== 'static')
          form(class='form-horizontal' action='/commit?config=network' method='post')
            div(class='form-group')
              label(class='control-label col-sm-2') Configuration Method
              div(class='col-sm-10')
                input(class='form-control' name='wired_method' value= config_rp_network_wired_method readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') IP Address
              div(class='col-sm-10')
                input(class='form-control' name='wired_ipaddr' value= config_rp_network_wired_ipaddr readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') IP Netmask
              div(class='col-sm-10')
                input(class='form-control' name='wired_netmask' value= config_rp_network_wired_netmask readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') Gateway
              div(class='col-sm-10')
                input(class='form-control' name='wired_gateway' value= config_rp_network_wired_gateway readonly)
            hr
            div.container
              div(class='btn-toolbar')
                button(type='submit' class='btn btn-primary btn-sm') Save Changes
                button(type='button' class='btn btn-default btn-sm' value='cancel' target='_blank', onclick="location.href='/';") Cancel

        if (toggle_rp== 'advanced')
          form(class='form-horizontal' action='/commit?config=advanced' method='post')
            div(class='form-group')
              label(class='control-label col-sm-2') Update Channel
              div(class='col-sm-10')
                input(class='form-control' name='repo' value= config_rp_repo readonly)
            div(class='form-group')
              label(class='control-label col-sm-2') Update Interval
              div(class='col-sm-10')
                input(class='form-control' name='update' value= config_rp_auto_update readonly)
            hr
            div.container
              div(class='btn-toolbar')
                button(type='submit' class='btn btn-primary btn-sm') Save Changes
                button(type='button' class='btn btn-default btn-sm' value='cancel' target='_blank', onclick="location.href='/';") Cancel

